<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark"><h4 >News Section</h4></nav>

  <div class="container gallery-container">
    
           
        
        <div class="news-gallery">
    
            <div class="row">
    
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <a class="News" href="../assets/photo/1.jpg">
                            <img src="../assets/photo/1.jpg" alt="News">
                        </a>
                       <a link rel="stylesheet" href="https://www.theguardian.com/sport/cricket">view</a>
                          </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <a class="News" href="../assets/photo/2.jpg">
                            <img src="../assets/photo/2.jpg" alt="News">
                        </a>
                        <a link rel="stylesheet" href="https://www.news18.com/cricketnext/latestnews">view</a>
                      </div>
                    </div>
                
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <a class="News" href="../assets/photo/3.jpg">
                            <img src="../assets/photo/3.jpg" alt="News">
                        </a>
                        <a link rel="stylesheet" href="https://www.news.com.au/sport/cricket">view</a>
                        
                    </div></div>
                
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <a class="News" href="../assets/photo/4.jpg">
                            <img src="../assets/photo/4.jpg" alt="News">
                        </a>
                        <a link rel="stylesheet" href="https://www.indiatoday.in/sports/cricket">view</a>
                      </div>
                    </div>
                
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <a class="News" href="../assets/photo/5.jpg">
                            <img src="../assets/photo/5.jpg" alt="News">
                        </a>
                        <a link rel="stylesheet" href="https://timesofindia.indiatimes.com/sports/cricket">view</a>
                      </div>
                    
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <a class="News" href="../assets/photo/6.jpg">
                            <img src="../assets/photo/1.jpg" alt="News">
                        </a>
                        <a link rel="stylesheet" href="https://www.bbc.com/sport/cricket/46492912">view</a>
                      
                    </div>
                </div>
            </div>
    
        </div>
    
    </div>
    
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
    <script>
        baguetteBox.run('.tz-gallery');
    </script>
  </body>
  </html>
 