nav
{
    
    float:initial;
    width: 100%;
    height:100%;
    padding-bottom: 2%;
}
a{
    color:white;
}
ul{
    float: right;   
}

img{
    padding: 0%;
    height: 200%;
    float:inherit;
}
