<nav class="navbar navbar-expand-sm navbar-blue bg-dark  fixed-top">
    <div class="container-fluid">
      <a href="#" class="navbar-brand">
        <img src="../assets/photo/logo1.jpg">
      </a>
      <div class="collapse navbar-collapse">
         
        <ul class="navbar-nav ml-auto">
          <li><a routerLink="/teams" class="nav-link">Teams</a></li>
          <li><a routerLink="/livescores" class="nav-link">LiveScores</a></li>
          <li><a routerLink="/videos" class="nav-link">Videos</a></li>
          <li><a routerLink="/photos" class="nav-link">Photos</a></li> 
          <li><a routerLink="/ranking" class="nav-link">Rankings</a></li>
          <li><a routerLink="/matches" class="nav-link">Matches</a></li>
        </ul>
      </div>
    </div>
  </nav>
  
<router-outlet></router-outlet>