.id{
    background-color:  black;
    color :  white;
   }
   .id2{
       
       color : crimson;
      }
      
   #match {
       font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
       border-collapse: collapse;
       width: 100%;
     }
     
     #match td, #match th {
       border: 1px solid #ddd;
       padding: 8px;
     }
     
     #match tr:nth-child(even){background-color: #f2f2f2;}
     
     #match tr:hover {background-color: #ddd;}
     
     #match th {
       padding-top: 12px;
       padding-bottom: 12px;
       text-align: left;
       background-color: olive;
       color: white;
     }
     h4{
       color: white;
     }