
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

 <nav class="navbar navbar-expand-sm bg-dark navbar-dark"><h4 >Matches scheduled</h4></nav>
     <div class="body">  
        <div class="container">
                <br>
                <br>  
                  
          <div class="heading"><p>India vs Australia ODI Series</p></div>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12 float-shadow">        
                    <div class="price_table_container">
                        
                        <div class="price_table_heading">1st ODI </div>
                        <div class="price_table_body">
                            <div class="price_table_row cost primary-bg"><strong></strong><span>The match is scheduled to begin at 16:00 hours (IST) on 19 jan 2019</span></div>
                            
                </div>
                </div>
                </div>

                
                        <div class="col-md-3 col-sm-6 col-xs-12 float-shadow">        
                            <div class="price_table_container">
                                
                                <div class="price_table_heading">2nd ODI </div>
                                <div class="price_table_body">
                                    <div class="price_table_row cost success-bg"><strong></strong><span>The match is scheduled to begin at 18:00 hours (IST) on 22 jan 2019</span></div>
                                    
                        </div>
                        </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12 float-shadow">        
                            <div class="price_table_container">
                                
                                <div class="price_table_heading">3rd ODI </div>
                                <div class="price_table_body">
                                    <div class="price_table_row cost warning-bg"><strong></strong><span>The match is scheduled to begin at 21:00 hours (IST) on 26 jan 2019</span></div>
                                    
                        </div>
                        </div>
                        </div>
                        </div>
                        </div> <br> <br>

       <div class="container">
         <div class="heading"><p>India vs England ODI Series</p></div>
             <div class="row">
                  <div class="col-md-3 col-sm-6 col-xs-12 float-shadow">        
                      <div class="price_table_container">
                                          
                        <div class="price_table_heading">1st ODI </div>
                            <div class="price_table_body">
                              <div class="price_table_row cost dark-bg"><strong></strong><span>The match is scheduled to begin at 16:00 hours (IST) on 29 feb 2019</span></div>
                                              
                             </div>
                      </div>
              </div>

              <div class="col-md-3 col-sm-6 col-xs-12 float-shadow">        
                  <div class="price_table_container">
                                      
                    <div class="price_table_heading">2nd ODI </div>
                        <div class="price_table_body">
                          <div class="price_table_row cost warning-bg2"><strong></strong><span>The match is scheduled to begin at 17:00 hours (IST) on 02 feb 2019</span></div>
                                          
                         </div>
                  </div>
          </div>
                
          <div class="col-md-3 col-sm-6 col-xs-12 float-shadow">        
              <div class="price_table_container">
                                  
                <div class="price_table_heading">3rd ODI </div>
                    <div class="price_table_body">
                      <div class="price_table_row cost static-bg"><strong></strong><span>The match is scheduled to begin at 18:00 hours (IST) on 07 feb 2019</span></div>
                                      
                     </div>
              </div>
      </div>
             </div>
             </div> 
            </div>