 
  .nopadding {
    padding: 6px !important;
    margin: 0 !important;
    
  }
.body{
  background-color:rgb(85, 200, 238);
}

.heading{
    color:  rgb(82, 16, 14);
}
.price_table_container{
	text-align:center;
	color:#666;
	margin-top:35px;
	font-family: 'Open Sans', sans-serif;
}
p{
  padding: 0;
  font-size: medium;
  float: left;
  font-display: initial;
  font-family: 'Franklin Gothic Medium';
  font-style: oblique;
  font-display: inherit;
  color: rgb(196, 62, 62);
}

.price_table_heading{
	font-size:36px;
	padding:10px;
	background:#EEE;
}


.price_table_row {
    padding:15px;
	background: #FFF;
}

.price_table_row2 {
    padding:15px;
	background:#D9534F;
}

.cost{
	padding:30px;
	font-size:30px;
}
.cost span{
	font-size:15px;
}

.price_table_row:nth-of-type(even) {
    background: #F8F8F8;
}
.btn{
	border-radius:0px;
}

.recommended{
/*USER DEFINED COLOUR*/	
background:#FF3A3A; 
color:#FFF;
/*USER DEFINED COLOUR*/	
padding:3px 0 3px 0;
margin-top:10px;  
text-align:center;
margin-bottom:-35px;
font-family: 'Open Sans', sans-serif;
}


.spacer{width:100%;height:50px;}


/*Already Defined Colours*/
/*Background*/
.primary-bg{background:#337AB7;color:#FFF;}
.success-bg{background:#5CB85C;color:#FFF;}
.info-bg{background:#5BC0DE;color:#FFF;}
.warning-bg{background:#F0AD4E;color:#FFF;}
.danger-bg{background:#D9534F;color:#FFF;}
.dark-bg{background:#444;color:#FFF;}
.royal-bg{background:#8E74E2;color:#FFF;}
.static-bg{background:#2BB0A6;color:#FFF;}
.warning-bg2{background : #D9534F;color:#FFF;}

/*Only Text Colours*/
.primary-text{background:#FFF;color:#337AB7;}
.success-text{background:#FFF;color:#5CB85C;}
.info-text{background:#FFF;color:#5BC0DE;}
.warning-text{background:#FFF;color:#F0AD4E;}
.danger-text{background:#FFF;color:#D9534F;}
.dark-text{background:#FFF;color:#444;}
.royal-text{background:#FFF;color:#8E74E2;}
.static-text{background:#FFF;color:#2BB0A6;}

/*Additional Button styles*/

/*BTN-DARK*/
.btn-dark {
  color: #fff;
  background-color: #444;
  border-color: #444;
}
.btn-dark:hover,
.btn-dark:focus,
.btn-dark.focus,
.btn-dark:active,
.btn-dark.active,
.open > .dropdown-toggle.btn-dark {
  color: #fff;
  background-color: #222;
  border-color: #222;
}
.btn-dark:active,
.btn-dark.active,
.open > .dropdown-toggle.btn-dark {
  background-image: none;
}


/*BTN-ROYAL---------*/
.btn-royal {
  color: #fff;
  background-color: #8E74E2;
  border-color: #8E74E2;
}
.btn-royal:hover,
.btn-royal:focus,
.btn-royal.focus,
.btn-royal:active,
.btn-royal.active,
.open > .dropdown-toggle.btn-royal {
  color: #fff;
  background-color: #7451E8;
  border-color: #7451E8;
}
.btn-royal:active,
.btn-royal.active,
.open > .dropdown-toggle.btn-royal {
  background-image: none;
}


/*BTN-STATIC---------*/
.btn-static {
  color: #fff;
  background-color: #2BB0A6;
  border-color: #2BB0A6;
}
.btn-static:hover,
.btn-static:focus,
.btn-static.focus,
.btn-static:active,
.btn-static.active,
.open > .dropdown-toggle.btn-static {
  color: #fff;
  background-color: #07A094;
  border-color: #07A094;
}
.btn-static:active,
.btn-static.active,
.open > .dropdown-toggle.btn-static {
  background-image: none;
}
.footer
{
    height: 70px;    
}
.fa {
    float: left;
    padding: 10px;
    font-size: 20px;
    width: 40px;
    text-align: center;
    margin: 25px 1px;
    height:35px; 
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  h6{
    float: right;
    margin: 50px 1px;  
  }

  select{
    margin: 30px ;

  }

  body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #7F7F7F;
}

a:hover, a:focus {
    text-decoration: none;
}

.strong {
    font-weight: bold;
    color: #777;
}

.section {
    padding: 50px 0;
}


/*Header*/

.header {
    padding: 35px 0;
}

.header-border {
    border-top: 2px solid #337AB7;
}

.header-left {
    float: left;
}

.header-title {
    font-size: 22px;
    font-variant: small-caps;
    font-weight: 500;
}

.header-right {
    float: right;
    text-align: right;
}

.header-right .header-ul {
    list-style: none;
    padding: 0;
}

.header-right .header-ul li {
    margin-left: 10px;
    display: inline-block;
    list-style: none;
}

.header-right .header-ul li i {
    margin-right: 5px;
}

.header-right nav li {
    margin-right: 5px;
    padding-right: 10px;
    border-right: 1px solid #DDD;
}

.header-right nav li:last-child {
    margin-right: 0;
    padding-right: 0;
    border: none;
}


/*Header*/


/* Nav */

.navbar {
    border: 0;
}

.nav>li a {
    display: block;
    color: #737373;
    border-bottom: 2px solid transparent;
    transition: all 0.8s;
}

.nav>li a:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: #024D8E;
    border-bottom: 2px solid #337AB7;
}

.nav>li a:focus {
    color: #737373;
}

.nav-border {
    border-top: 3px solid #E1E0DF;
}

.nav-bg {
    background-color: #F7F7F7;
    margin-bottom: 0;
}


/* Nav */


/* Carousel */

.carousel-inner {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 500px;
    width: 100%;
    z-index: -1000;
}

.carousel-caption {
    position: static;
}

.carousel-info {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px 20px;
    min-height: 210px;
}

.carousel-inner .item {
    transition-property: opacity;
}

.carousel-img {
    max-width: 200px;
    margin: auto;
}

.carousel-indicators {
    bottom: 0;
}

.carousel-indicators li {
    width: 14px;
    height: 14px;
    border: 2px solid rgba(255, 255, 255, 0.5);
}

.carousel-indicators .active {
    width: 16px;
    height: 16px;
    background: rgba(255, 255, 255, 0.2);
}


/* Carousel */


/* Icono */

.icono-color {
    background-color: #1D5280;
}

.icono-content {
    display: block;
}

.icono-ul {
    display: table;
    width: 100%;
    margin-bottom: 0;
    border-collapse: collapse;
    list-style: none;
}

.icono-ul li {
    display: table-cell;
    text-align: center;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.icono-ul li a {
    display: inline-block;
    color: #EEE;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    transition: all 1s;
}

.icono-info {
    padding: 15px 0;
}

.icono-info i {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    font-size: 30px;
    height: 70px;
    padding: 20px 0 0 0;
    margin: 30px;
    width: 70px;
}

.icono-info .h5 {
    text-transform: uppercase
}

.icono-info .p {
    text-transform: lowercase;
    font-size: 12px;
}


/* Icono */


/* Noticia*/

.wp-separator {
    background-color: #EEE;
}

.descrip {
    font-size: 15px;
    text-align: justify;
}

.item {
    padding-bottom: 20px;
}

.thumbnail {
    border-radius: 0;
}


/* Noticia */


/* Footer */

.footer {
    background-color: #337AB7;
    color: #EEE;
    padding-top: 30px;
}

.foot-geo {
    text-align: left;
}

.footer-p {
    background-color: #2B679A;
    color: #EEE;
    padding-top: 20px;
    text-align: center;
}

.footer-nav {
    display: inline-block;
    list-style: none;
}

.footer-nav li {
    float: left;
    margin-right: 15px;
}

.footer-nav li a {
    display: inline-block;
    background-color: #EEE;
    border-radius: 50%;
    font-size: 25px;
    height: 45px;
    width: 45px;
    padding-top: 3px;
    transition: all 1s;
}

.footer-nav li a:hover {
    background-color: #FFF;
}

.footer-info {
    text-align: right;
}


/*PAGINA GALERIA */

.galeria {
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.26);
    margin-top: 20px;
}

.galeria-img {
    max-width: 100%;
    margin: auto;
}

.galeria-info {
    padding: 20px;
    min-height: 180px;
}


/* Footer */

@media screen and (max-width: 768px) {
    /*Header*/
    .header-left, .header-right {
        float: none;
        text-align: center;
    }
    .header-right {
        display: block;
        width: auto;
    }
    /* Header */
    /* Nav*/
    .navbar-collapse {
        background-color: #EEE;
    }
    .navbar-toggle {
        border: 1px solid rgb(220, 220, 220);
    }
    /*Icono*/
    .icono-ul {
        margin: auto;
        width: 90%;
    }
    .icono-ul li {
        display: block;
        border: 1px solid rgba(255, 255, 255, 0.3);
    }
    .icono-info {
        padding: 5px 0;
    }
    .icono-info i {
        margin: 0;
    }
    /* Noticia*/
    .descrip {
        text-align: start;
    }
    /* Footer*/
    .footer-geo, .footer-info {
        text-align: center;
    }
}

@media screen and (min-width: 768px) {
    /* Nav */
    .nav>li.active {
        background-color: #EAEAEA;
    }
    .navbar-collapse {
        padding-left: 0;
    }
    .navbar-nav>li>a {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .dropdown-menu {
        padding: 0;
        margin: 0;
        border-radius: 0;
    }
    .dropdown-menu>li>a {
        padding: 15px 20px;
    }
    /* Nav */
    /*Carousel*/
    .carousel-caption {
        padding-top: 100px;
    }
    /* Icono */
    .icono-ul li a:hover {
        color: #FFF;
        border-top: 3px solid #FFF;
        border-bottom: 3px solid #FFF;
    }
}