<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

 <nav class="navbar navbar-expand-sm bg-dark navbar-dark"><h4 >Score Board</h4></nav>

<div class="id"><h4>India vs Australia,Adelaide</h4></div>
<div class="id2"><h4>India won by 6 wickets</h4></div>
<table id="scores">
  <tr>
  AUS-298/9 (50.0 overs)
  </tr>
  <tr>
    IND-299/4 (49.2 overs)
  </tr>
  <tr>
      CRR : 6.06
    </tr>
    <tr>
        RR : 7.52
      </tr>
</table>
      <table id="scores">
      <tr>
        <th>Batting</th>
        <th>R(B)</th>
        <th>4s</th>
        <th>6s</th>
        <th>SR</th>
      </tr>
      <tr>
        <td>Karthik*</td>
        <td>25(14)</td>
        <td>2</td>
        <td>0</td>
        <td>84</td>
      </tr>
      <tr>
          <td>Dhoni</td>
          <td>55(54)</td>
          <td>0</td>
          <td>2</td>
          <td>101.85</td>
        </tr>

    <tr>
        <th>Balling</th>
        <th>O</th>
        <th>M</th>
        <th>R</th>
        <th>W</th>
      </tr>
      <tr>
        <td>Stoinis</td>
        <td>8.2</td>
        <td>1</td>
        <td>52</td>
        <td>1</td>
      </tr>
      </table>
      <table id="scores">
          
      <tr>
        Partnership: 57(34)
      </tr>
      <tr>
        Last wkt: Shikhar Dhawan c Khawaja b Behrendorff 32(28)
      </tr>
      <tr>
        Recent balls: 11..1. | ..1211 |1.1161 |2.
      </tr>
</table> <br><br>
<div class="id3"> <nav class="navbar navbar-expand-sm bg-dark navbar-dark"><h6>Commentry</h6></nav></div>
<table id="scores">
    <tr>
      <h6>Virat Kohli, winning captain and player of the match :</h6>
      Very pleased. We wanted to try and restrict them in the end. To get them (Maxi and Marsh) in two balls was outstanding for us. Those breakthrough were crucial. That meant we were not chasing 330. Bhuvi was outstanding
      with the ball, he came back and brought us in the game towards the end. The way Australians were batting, we really pulled things back. You look for little moments to pump you up, I try and get into that zone.
      </tr>
      </table>
      
