
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 footer-geo">
                    <h3>Location</h3>
                    <address>
                        1355 Market Street, Suite 900
                        <br>
                        San Francisco, CA 94103
                        <br>
                        <abbr title="Phone">P:</abbr> 
                        9988776655
                    </address>
                </div>
                <div class="col-sm-4 footer-social text-center">
                    <h3>Social networks</h3>
                    <ul class="footer-nav">
                        <li>
                            <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4 footer-info">
                    <h3>Information</h3>
                    <p>
                        1355 Market Street, Suite 900
                        <br>
                        San Francisco, CA 94103	
                    </p>
                </div>
            </div>
        </div>
     
    </footer>
